In [2]:
# Importing necessary libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
# Testing first page
url = "https://books.toscrape.com/catalogue/page-1.html"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

# Grab all book containers
books = soup.find_all("article", class_="product_pod")
print(len(books))

20

In [4]:
# Extracting one book
book = books[5]

title = book.h3.a["title"]
price = book.find("p", class_ = "price_color").text
stock = book.find("p", class_ = "instock availability").get_text(strip=True)
rating = book.p["class"][1]

print("Title: " + title)
print("Price: " + price)
print("Stock: " + stock)
print("Rating: " + rating)

Title: The Requiem Red
Price: Â£22.65
Stock: In stock
Rating: One

In [10]:
# Looping over the books on one Page
items = []

for book in books:
    title = book.h3.a["title"]
    price = book.find("p", class_="price_color").text
    stock = book.find("p", class_="instock availability").get_text(strip=True)
    rating = book.p["class"][1]

    items.append([title, price, stock, rating])

# Creating a dataset for books data
df = pd.DataFrame(items, columns = ["Title", "Price", "Stock", "Rating"])
df.head()

                                   Title    Price     Stock Rating
0                   A Light in the Attic  Â£51.77  In stock  Three
1                     Tipping the Velvet  Â£53.74  In stock    One
2                             Soumission  Â£50.10  In stock    One
3                          Sharp Objects  Â£47.82  In stock   Four
4  Sapiens: A Brief History of Humankind  Â£54.23  In stock   Five

In [11]:
# Looping over the books on all pages
all_books = []

for page in range(1, 51):
    url = f"https://books.toscrape.com/catalogue/page-{page}.html"
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")
    books = soup.find_all("article", class_="product_pod")

    for book in books:
        title = book.h3.a["title"]
        price = book.find("p", class_ = "price_color").text
        stock = book.find("p", class_ = "instock availability").get_text(strip=True)
        rating = book.p["class"][1]

        all_books.append([title, price, stock, rating])

# Creating dataset of books data
df = pd.DataFrame(all_books, columns = ["Title", "Price", "Stock", "Rating"])
df.shape

(1000, 4)

In [20]:
# Saving dataset to CSV
df.to_csv("books_scraped.csv", index = False)
df.describe()

                         Title    Price     Stock Rating
count                     1000     1000      1000   1000
unique                     999      903         1      5
top     The Star-Touched Queen  Â£44.18  In stock    One
freq                         2        3      1000    226